
<h1>All Players</h1>
<a href="/players/new">Add a Player</a>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Team</th>
        <th>AVG</th>
        <th>OBP</th>
        <th>SLG</th>
        <th>OPS</th>
        <th>AB</th>
        <th>R</th>
        <th>H</th>
        <th>RBI</th>
        <th>1B</th>
        <th>2B</th>
        <th>3B</th>
        <th>HR</th>
        <th>XBH</th>
        <th>K</th>
        <th>BB</th>
    </tr>
    <% for (let player of players) { %>
        <tr>
            <td><%= player.firstName %></td>
            <td><%= player.lastName %></td>
            <td><%= player.team %></td>
            <td><%= player.battingAverage.toFixed(3) %></td>
            <td><%= player.onBasePercentage.toFixed(3) %></td>  
            <td><%= player.sluggingPercentage.toFixed(3) %></td>
            <td><%= player.ops.toFixed(3) %></td>
            <td><%= player.atBats %></td>
            <td><%= player.runs %></td>
            <td><%= player.hits %></td>
            <td><%= player.rbi %></td>
            <td><%= player.single %></td>
            <td><%= player.double %></td>
            <td><%= player.triple %></td>
            <td><%= player.homeRun %></td>
            <td><%= player.xbh %></td>
            <td><%= player.strikeouts %></td>
            <td><%= player.walks %></td>
        </tr>
    <% } %>
</table>
 