<h1><%= team.teamName %></h1>
<a href="/players/new">Add a Player</a>
<a href="/teams/<%= team._id %>/games/new">Add a Game</a>

<table>
    <tr>
        <th>Game ID</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    <% for(let game of games) { %>
        <tr>
            <td><%= game._id %></td>
            <td><%= game.homeTeam %></td>
            <td><%= game.awayTeam %></td>
            <td><%= game.date %></td>
            <td><%= game.time %></td>
        </tr>
    <% } %>
</table>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>AVG</th>
        <th>OBP</th>
        <th>SLG</th>
        <th>OPS</th>
        <th>AB</th>
        <th>R</th>
        <th>H</th>
        <th>RBI</th>
        <th>1B</th>
        <th>2B</th>
        <th>3B</th>
        <th>HR</th>
        <th>K</th>
        <th>BB</th>
    </tr>
    <% for (let player of players) { %>
        <tr>
            <td><%= player.firstName %></td>
            <td><%= player.lastName %></td>
            <td><%= player.battingAverage %></td>
            <td><%= player.onBasePercentage %></td>  
            <td><%= player.sluggingPercentage %></td>
            <td><%= player.ops %></td>
            <td><%= player.atBats %></td>
            <td><%= player.runs %></td>
            <td><%= player.hits %></td>
            <td><%= player.rbi %></td>
            <td><%= player.single %></td>
            <td><%= player.double %></td>
            <td><%= player.triple %></td>
            <td><%= player.homeRun %></td>
            <td><%= player.strikeouts %></td>
            <td><%= player.walks %></td>
        </tr>
    <% } %>
</table>
