<% layout('layouts/boilerplate') %>

<h1>All Games</h1>
<a href="/games/new">Add a Game</a>
<table>
    <tr>
        <th>Game ID</th>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    <% for(let game of games) { %>
        <tr>
            <td><%= game._id %></td>
            <td><%= game.homeTeam %></td>
            <td><%= game.awayTeam %></td>
            <td><%= game.date %></td>
            <td><%= game.time %></td>
        </tr>
    <% } %>
</table>