<h1>New Game for <%= teamName %></h1>

<form action="/teams/<%= team[0]._id %>/games" method="POST">
    <label for="awayTeam">Visitor</label>
    <select name="awayTeam" id="awayTeam">
        <option value="">Select a Team</option>
        <% for(let team of teams) { %>
            <option value="<%= team._id %>"><%= team.teamName %></option>
        <% } %>
    </select>
    <div>
        <label for="homeTeam">Home</label>
        <select name="homeTeam" id="homeTeam">
            <option value="">Select a Team</option>
            <% for(let team of teams) { %>
                <option value="<%= team._id %>"><%= team.teamName %></option>
            <% } %>
        </select>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
        <label for="time">Time</label>
        <select name="time" id="time">
            <option value="">Enter a Time</option>
            <option value="9:00 AM">9:00 AM</option>
            <option value="10:20 AM">10:20 AM</option>
            <option value="11:40 AM">11:40 AM</option>
        </select>
        <label for="homeScore">Home Team Score</label>
        <input type="number" name="homeScore" id="homeScore">
        <label for="awayScore">Away Team Score</label>
        <input type="number" name="awayScore" id="awayScore">
    </div>
    <% for(let player of players) { %>
        <div>
            <label for="player">Player</label>
            <select name="player" id="player">
                <option value="">Choose an Player</option>
                <% for(let player of players) { %>
                    <option value="<%= player._id %>"><%= player.firstName %> <%= player.lastName%></option>
                <% } %>
            </select>

            <label for="atBats">At Bats</label>
            <input type="number" name="atBats" id="atBats">
            <label for="runs">Runs</label>
            <input type="number" name="runs" id="runs">
            <label for="rbi">RBI</label>
            <input type="number" name="rbi" id="rbi">
            <label for="single">Singles</label>
            <input type="number" name="single" id="single">
            <label for="double">Doubles</label>
            <input type="number" name="double" id="double">
            <label for="triple">Triples</label>
            <input type="text" name="triple" id="triple">
            <label for="homeRun">Home Runs</label>
            <input type="number" name="homeRun" id="homeRun">
            <label for="strikeout">Strikeouts</label>
            <input type="number" name="strikeout" id="strikeout">
            <label for="walk">Walk</label>
            <input type="number" name="walk" id="walk">
        </div>
    <% } %>
    <button>Submit</button>
</form>

